---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout>
  <NavBar />
  <div class="label flex w-full mt-24">
    <div class="text-wrapper mx-auto w-[80%]">Hi, I'm Gordon Chai</div>
  </div>
</Layout>
