---

---

<div
  class="z-100 relative w-screen h-[235px] xs:h-[350px] md:h-[450px] lg:h-[600px] xl:h-[700px] 2xl:h-[900px] overflow-hidden -mt-20 xs:-mt-50 md:-mt-30 lg:-mt-100 2xl:-mt-50 pointer-events-none"
>
  <img
    src="/src/assets/earth.svg"
    alt="Earth"
    class="max-w-none w-[125%] ml-[-12.5%]"
  />
</div>
