---

---

<div
  class="z-5 relative w-screen h-[235px] xs:h-[350px] md:h-[450px] lg:h-[600px] xl:h-[700px] 2xl:h-[900px] overflow-hidden -mt-20 xs:-mt-50 md:-mt-30 lg:-mt-100 2xl:-mt-50 pointer-events-none"
>
  <img
    src="/assets/earth.svg"
    alt="Earth"
    class="max-w-none w-[125%] ml-[-12.5%] opacity-80 slow-spin"
  />
</div>

<style>
  @keyframes slow-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .slow-spin {
    animation: slow-spin 320s linear infinite;
  }

  @media only screen and (max-width: 640px) {
    .slow-spin {
      animation: none;
    }
  }
</style>
